version: '3.9'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: sha_db
      POSTGRES_USER: sha
      POSTGRES_PASSWORD: 1234
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  bot:
    build: .
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./organizers.xlsx:/app/organizers.xlsx:ro  # Монтируем Excel файл (read-only)

volumes:
  postgres_data: